{% extends 'base.html.twig' %}

{% block title %}Create les l'option{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h2>Create les l'option</h2>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
        </div>
        <button class="btn btn-primary">Create</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
